@import '../../assets/scss/variables.scss';

.feed-section {
    width: 30%;
    padding: 1rem;
    border: 1px solid $gray2;
    border-top: 0;
    height: 100%;
    position: sticky;
    top: 4rem;

    h4 {
        text-transform: uppercase;
        font-weight: 700;
        color: $gray5;
        margin-bottom: 1rem;
    }

}

.feed-content {
    width: 70%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

}