@import '../../assets/scss/variables.scss';
header {
    width: 100%;
    border-bottom: 1px solid $gray2;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background: $white;

    .logo {
        @include font-size(28);
        color: $gray4;
        text-transform: uppercase;
    }

    #menu {
        ul {
            display: flex;
            flex-direction: row;
            
            a {
                padding: .5rem .8rem;
                margin: 0 .5rem;
                text-transform: uppercase;
            }
        }
        
    }

}